---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Plus de précisions | Thibaut Meyer" description="A propos de Thibaut Meyer">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Plus de détails"
				tagline="Découvrez mon parcours et mes compétences."
			>
				<img
					width="1200"
					height="500"
					src="/assets/at-work.jpg"
					alt="Thibaut Meyer at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Contexte</h2>
				<div class="content">
					<p>
						Actuellement étudiant sur Strasbourg, j'effectue actuellement mon <a href="https://mastermsi.fr/">Master 2 MSI</a>, 
						dédié l'étude des problématiques juridiques étendues au domaine numérique.
						Mon parcours a débuté en ingénieurie méthode en tant qu'alternant de BTS Assistant Technique d'Ingénieur 
						auprès du Groupe "Schmidt Groupe" cuisiniste de renomée internationale.
		                Par la suite, souhaitant developpé ma palette de compétences pour devenir technico-commercial 
						j'ai suivi une formation privée préparatoire aux concours d'écoles de commerce en parallèle 
						d'une année de licence Langues, Littératures et Civilisations Etrangères en Anglais. 
						Admissible dans divers écoles je me suis finalement tourné vers le droit que j'ai découvert par curiosité. 
						A la suite de mes trois années de licence de droit général j'ai effectué un master 1 de droit des affaires. 
						La poursuite vers un master de droit en lien avec le numérique et la porpiété intellectuelle m'est apparu 
						comme une évidence, par conséquent, j'ai poursuivi dans le master MSI que j'effectue actuellement.
					</p>
				
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Master 2 Droit de l'Internet et des Systèmes d'Information (2023-2024)</p>
					<p>Master 1 Droit des affaires (2022-2023)</p>  
					<p>Licence de Droit général (2019-2022)</p>
					<p>BTS Assistant Technique d'Ingénieur (2016-2018)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Qualités</h2>
				<div class="content">
					<p>Audacieux, entreprenant, autonome, consciencieux, j’ai le sens des responsabilités et un bon esprit d’équipe ainsi qu’un très bon relationnel.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Maîtrise de l'Anglais d'affaires ainsi que des notions de base en Allemand.</p>
					<p>Maîtrise de plusieurs outils informatiques tels que : Word, Excel, PowerPoint, Canva.</p>  
					<p>Maîtrse du logiciel de montage Final Cut Pro (Mac OS)</p>
					<p>Bonne maîtrise informatique gloable</p>
					<p>Maîtrise de la technique contractuelle ainsi qu'une excellente capacité rédactionnelle.</p>
					<p>Excellente capacité de communication et de prise d'initiative ainsi qu'une maîtrise pluridisciplinaire de services nécessaires en entreprise.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
